---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <nav class="w-screen overflow-x-hidden h-16 items-center flex bg-white font1">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/0xbyt3z" target="_blank">Twitter</HeaderLink>
  </nav>
</header>
